
@font-face {
 font-family: 'SpaceGrotesk';
 src: url('SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

@font-face {
 font-family: 'HankenGrotesk';
 src: url('HankenGrotesk.ttf') format('truetype');
}

body {
	font-size: 16px;
	line-height: 24px;
	/*background-color: #f5f5f5;*/
	scroll-behavior: smooth;
}

/*#project-overview{
	background-color: #f5f5f5;
}*/

.project-cont {
	border: 0px solid lightgray;
	/*border-radius: 64px;*/
}




.light-mode {
	color: #f5f5f5;
	color: #f0f0f0;
	color: #e7e7e7;
}

.no-min {
	border-radius: 64px;
	overflow: hidden;
}


.dos {
	/*background-color: #f5f5f5;*/
	display:  flex;
	flex-direction: column;
	justify-content: center;
		/*filter: blur(4px);*/
}

.no-min {
	min-height: auto;
/*	background-image: url("../images/test-bg.png");
	background-size: cover;
	filter: blur(8px);*/
}

.bg-img {
	/*height: calc(100% + 144px);*/
/*	width: 100%;*/
	position: absolute;
	overflow: hidden;
}

.full-size {
	height: 100vh;
	width: 100vw;
	position:  fixed;
}

.bg-img > img {
	filter: blur(32px);
	opacity: 0.7;
}

.proj-title {
	font-family: HankenGrotesk;
	font-size: 48px;
	line-height: 64px;
	font-weight: 400;
}

.next-proj {
	display: inline-block;
}

.next-proj > .material-symbols-outlined {
	font-size: 32px;
	line-height: 40px;
	margin-right: 8px;
	width: 0px;
	overflow: hidden;
}

.next-proj:hover > .material-symbols-outlined {
	width: 36px;
}

.header-text {
	font-weight: 500;
	display: inline-block;
}

/*.body-text {
	font-size: 16px;
	font-weight: 300;
	max-width: 600px;
}*/


.metadata-cont {
	padding: 8px 0px;
}

.metadata-cont-cont {
	min-width: 200px;
	padding-left: 32px;
}

.padding-side {
	padding-left: 240px;
}


.project-cont {
	/*width: 100%;*/
	position: relative;
	width: calc(100% - 120px);
	left: 0px;
	max-width: calc(1440px - 240px - 120px);
}

.case-section {
	padding: 60px 0px;
	align-items: flex-start;
}

.case-section > div {
	padding: 48px 0px;
}

.text-section {
	margin-bottom: 32px;
}

.img-container {
	margin: 40px 0px 40px 0px;
	width: 100%;
	align-items: start;
	padding: 0px;
	overflow:  visible;
}

.takeaway-cont {
	display: flex;
	flex-wrap: wrap;
	margin: 32px 0px;
}


.takeaway-cont > div {
	
	/*flex-direction: column;*/
	width: calc(33% - 48px);
	padding-right: 48px;
	height: fit-content;
	display: flex;
}


.vert-line {
	width: 2px;
	background-color: lightgray;
	margin-right: 16px;
}

.img-duo {
	display: flex;
	justify-content: space-between;
}

.img-duo > div {
	width: 48.5%;
}


.img {
	width: 100%;
}

.video-styles {
	border-radius: 8px;
	border: solid 1px gray;
	width:  calc(100% - 2px);
	box-shadow: 0px 0px 8px black;
}

.img-desc {
	color: #808080;
	width: 100%;
	font-weight: 300;
	font-size: 14px;
	padding: 8px 0px;
}

.img-small {
	max-width: 500px;
}

.img-medium {
	max-width: 750px;
}

/*.material-symbols-outlined {
	font-size: 16px;
	padding: 8px;
}*/

.scroll-guide {
	position: absolute;
	top: -60px;
	align-self: center;
	color: #808080;
	align-self: flex-start;
}


.bonus {
	padding: 8px 0px;
}

.conty {
	max-width: none;
}


.white-bg {
	background-color:  white;
	z-index: 1;
}

.conty.white-bg {
	border-top: 1.5px solid #e7e7e7;
	border-bottom: 1.5px solid #e7e7e7;

}

.full-width{
	width: calc(100% - 240px);
}

/*.side-panel {
	background-color: white;
	position: fixed;
	left: 0px;
	height: 100vh;
	width: 260px;
	z-index: 2;
	border-right: 1px solid lightgray;
}*/

.tracker-cont {
	position: fixed;
	left: 36px;
	z-index: 2;
	top: 100px;
	padding: 8px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 28px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.15);
	backdrop-filter: blur(16px);
}

.tracker {
	font-weight: 500;
	color: #b5b5b5;
	font-size: 16px;
	line-height: 24px;
	padding: 8px 16px;
	border-radius: 20px;
	/*background-color: white;*/
	/*transition: all 0.3s ease;*/
}

.tracker-cont.dark-mode {
	background-color: rgba(255, 255, 255, 0.3);
}


.tracker:hover {
	color: gray;
	color: #636363;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.5);
}

.tracker.active {
	color: black;
	background-color: #f2f2f2;
}

.tracker > .material-symbols-outlined {
	padding-right: 8px;
	opacity: 0;
	/*transition: all 0.2s ;*/
}

.tracker:hover > .material-symbols-outlined {
	opacity: 1;
}

.tracker.active > .material-symbols-outlined {
	opacity: 1;
}

.img-styles {
	border-radius: 8px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.projects_final_mock {
	display: flex;
	position: relative;
	width: 100%;
	height: 600px;
	max-width: 950px;
	justify-content: center;
	align-items: center;
}

/*.next-proj {
		font-weight: 400;
	color: gray;
	font-size: 16px;
	line-height: 24px;
	padding: 0px 16px;
	border-radius: 20px;
	background-color: white;
	transition: all 0.3s ease;
	height: 0px;
	overflow: hidden;
}


.next-proj:hover {
	color: blue;
	cursor: pointer;
}

.next-proj.open {
	height: auto;
	padding:  8px 16px;
}*/

.bottom-nav {
	padding: 40px 0px;
}

.flex {
	display: flex;
}

.flex-inline {
	display: inline-flex;
}

.column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}



@media (max-width:1400px) {
	.padding-side {
	padding-left: 240px;
}
	}


@media (max-width:1000px) {


	.project-cont {
	width: calc(100% - 80px);
}
		.desktop-hide {
		display:  none;
	}

		.padding-side {
	padding-left: 0px;
}

.full-width{
	width: 100%;
}

}


@media only screen and (max-device-width: 600px)  {

/*.dos {
	padding: 48px 0px;
}*/

.proj-desc-long {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	
}


.desktop {
	display: none;
}

.project-cont {
	width: calc(100% - 48px);
}
	}