
body {
	font-size: 16px;
	line-height: 24px;
	/*background-color: #f5f5f5;*/
}

#project-overview{
	background-color: #f5f5f5;
}

.project-cont {
	border: 0px solid lightgray;
	border-radius: 64px;
}





.light-mode {
	color: #f5f5f5;
}

.no-min {
	border-radius: 64px;
	overflow: hidden;
}

.dark-bg {
	background-color: #171717;
	background-color: #0f1b23;
	color: white;
	/*background-color: #f5f5f5;*/
}

.dos {
	/*background-color: #f5f5f5;*/
	display:  flex;
	flex-direction: column;
	justify-content: center;
		/*filter: blur(4px);*/
}

.no-min {
	min-height: auto;
/*	background-image: url("../images/test-bg.png");
	background-size: cover;
	filter: blur(8px);*/
}

.bg-img {
	/*height: calc(100% + 144px);*/
/*	width: 100%;*/
	position: absolute;
	overflow: hidden;
}

.full-size {
	height: 100vh;
	width: 100vw;
	position:  fixed;
}

.bg-img > img {
	filter: blur(32px);
	opacity: 0.7;
}

.proj-title {
	font-size: 48px;
	line-height: 64px;
	font-weight: 400;
}

.proj-desc {
	font-size: 20px;
	line-height: 28px;
	padding: 8px 0px;
}

.header-text {
	font-weight: 500;
	display: inline-block;
}

.body-text {
	font-size: 16px;
	font-weight: 300;
	max-width: 600px;
}

.proj-desc-long {
	font-weight: 300;
	font-size: 20px;
	line-height: 32px;
	padding: 16px 0px;
	max-width: 800px;
	
}

.metadata-cont {
	padding: 8px 0px;
}

.metadata-cont-cont {
	min-width: 200px;
	padding-left: 32px;
}

.project-cont {
	width: calc(100% - 120px);
	max-width: 1000px;
}

.case-section {
	padding: 48px 0px;
	align-items: flex-start;
}

.text-section {
	margin-bottom: 32px;
}

.img-container {
	margin: 32px 0px;
	width: 100%;
	/*align-items: center;*/
	padding: 0px;
	overflow:  visible;
}



.img {
	width: 100%;
}

.video-styles {
	border-radius: 8px;
	border: solid 1px gray;
	width:  calc(100% - 2px);
	box-shadow: 0px 0px 8px black;
}

.img-desc {
	color: #808080;
	width: 100%;
	font-weight: 300;
	margin-top: 8px;
	font-size: 14px;
}

.img-small {
	max-width: 500px;
}

.img-medium {
	max-width: 750px;
}

.material-symbols-outlined {
	font-size: 16px;
	padding: 8px;
}

.scroll-guide {
	position: absolute;
	top: -60px;
	align-self: center;
	color: #808080;
	align-self: flex-start;
}

.big-icon {
	font-size: 32px;
}

.bonus {
	padding: 8px 0px;
}

.conty {
	max-width: none;
	justify-content: center;
}

.white-bg {
	background-color:  white;
	z-index: 1;
}


.grouping {
	width:  100px;
}

.bottom-nav {
	padding: 40px 0px;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.space-between {
	justify-content: space-between;
}

/*.header-blur {
	position:  fixed;
	height: 80px;
	width: 100vw;
		-webkit-backdrop-filter: blur(24px);
	backdrop-filter: blur(24px);
	color: white;
	  -webkit-mask-image: linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,0.95), rgba(255,255,255,1));

  -webkit-mask-repeat: no-repeat;

}*/

@media (max-width:1000px) {

.project-cont {
	width: calc(100% - 80px);
}
}

@media (max-width:1000px) {
/*	.reverse {
		flex-direction: column;
	}

	.column-reverse {
		flex-direction: row;
	}

	.metadata-cont-cont{
		padding: 16px 0px;
	}

	.metadata-cont {
		flex-grow: 1;
	}*/
		.desktop-hide {
		display:  none;
	}

}

@media (max-width:800px) {
	}

@media only screen and (max-device-width: 600px)  {

/*.dos {
	padding: 48px 0px;
}*/

.proj-desc-long {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	
}


.desktop {
	display: none;
}

.project-cont {
	width: calc(100% - 48px);
}
	}